<a href="https://colab.research.google.com/github/michael-borck/ISYS5002_portfolio/blob/main/sql_shell_LIVE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SQL via Python

In this notebook we discuss all the CRUD operations on a SQLite 3 database in Python.

We assume some basic understanding ot SQL

## Import the library

In [1]:
import sqlite3

## Create a connection

We use the connect method and pass the name of the database

In [3]:
sqliteConnection = sqlite3.connect('mytest.db')

## Create a cursor object

A cursor acts a middleware between a connection and SQL query

In [4]:
cursor = sqliteConnection.cursor()

# Create Table

Use a common 'pattern'

1. Create a SQL command as a string
2. User cursor to execture the command
3. If needed fetch the results

In [22]:
sql_command = """
CREATE TABLE USER2 (
  id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  name TEXT,
  age INTEGER
);
"""

In [23]:
cursor.execute(sql_command)

# Insert into Table

In [14]:
sql_command_2 = """
INSERT INTO user VALUES (0, 'Michael', 21);
"""

In [16]:
cursor.execute(sql_command_2)

## Fetching Data

In [17]:
sql_command = """
SELECT * FROM user;
"""

In [18]:
cursor.execute(sql_command)

In [19]:
cursor.fetchall()

[(0, 'Michael', 21)]

## Updating Data

## Delete Data

## View Schema

In [35]:
sql_command = """
SELECT name FROM sqlite_master WHERE type='table';
"""
cursor.execute(sql_command)
results = cursor.fetchall()

print(results)
table_list = []
for result in results:
  if result[0] != 'sqlite_sequence':
    table_list.append(result[0])

print(table_list)
list_of_tables = [result[0] for result in results if result[0] != 'sqlite_sequence']
list_of_tables

[('USER',), ('sqlite_sequence',), ('USER2',)]
['USER', 'USER2']

['USER', 'USER2']

## Delete Table

In [40]:
for table in list_of_tables:
  cursor.execute("PRAGMA table_info('%s')" % table)
  results = cursor.fetchall()
  #print(results)
  col_name = [ x[1] for x in results]
  print(table + ':' + str(col_name))

USER:['id', 'name', 'age']
USER2:['id', 'name', 'age']